<h1>We Played Paper</h1>
<h1>They Played <%= @comp %></h1>
<% if @comp == "paper" %>
    <h1>We tied!</h1>
<% elsif @comp == "scissors" %>
    <h1>We lost!</h1>
<% else %>
    <h1>We won!</h1>
<% end %>

<a href="/">Rules</a>
